<!DOCTYPE html>
<html>
<body>

<h1>Radhey Radhey</h1>
<hr>
<hr>

<h2> Stock Market </h2>
<a href="live_announcements"> Click Here To Track Live Announcement</a>
<br>
<a href="corporate_actions"> Click Here To Track Corporate Actions </a>

<hr>

<h2> Personal Management </h2>
<a href="https://docs.google.com/spreadsheets/d/16HhBSriyuwjMjU-mrYuiwrIUxoxJujg2XeVwGLPAYXs/edit#gid=1227499812"> My Excel Tracker  </a>
<hr>

<h2> Weekly Finance Routine </h2>
<p1>to Create New Page for Weekly Finance Routine</p1>>
<hr>

</body>
</html>

