<!DOCTYPE html>
<html>
<body>


<h2> Daily Technical Routine  </h2>
<a href="https://automationstepbystep.com/"> Automation youtube  </a>
<hr>

<h2> Daily News Digest </h2>
<a href="https://www.bhaskar.com/business/"> Bhaskar | Business News  </a>
<br>
<a href="https://hindi.moneycontrol.com/news/latest-news"> MoneyControl | Finance Hindi  </a>
<br>
<a href="https://www.moneycontrol.com/stocksmarketsindia/"> MoneyControl | English  </a>
<hr>


<h2> Daily Finance Tracker </h2>
<a href="live_announcements"> Click Here To Track Live Announcement</a>
<br>
<a href="corporate_actions"> Click Here To Track Corporate Actions </a>
<br>
<a href="https://www.moneycontrol.com/stocks/fno/marketstats/futures/oi_inc_p_inc/homebody.php?opttopic=allfut&optinst=allfut&sel_mth=all&sort_order=0"> Increase in OI, Increase in Price  </a>
<br>
<a href="https://economictimes.indiatimes.com/marketstats/companyid-0,duration-U,filtertype-latest,marketcap-All,pageno-1,pid-26,sortby-meetingDateStr,sortorder-asc,year-0.cms"> Today's Result  </a>
<br>
<a href="https://economictimes.indiatimes.com/marketstats/exchange-nse,marketcap-largecap%252Cmidcap,pageno-1,pid-2,service-gainers,sortby-percentchange,sortorder-desc.cms"> Hourly Gainer  </a>
<br>
<a href="https://economictimes.indiatimes.com/marketstats/duration-1d,exchange-nse,pageno-1,pid-0,sort-intraday,sortby-percentchange,sortorder-desc.cms"> Daily Gainer  </a>
<hr>

<h2> Weekly Finance Routine </h2>
<a href="https://www.moneycontrol.com/news/broker-research-reports-13.html"> Stock Recommendation | MoneyControl  </a>
<br>
<a href="https://economictimes.indiatimes.com/markets/stocks/recos"> Stock Recommendation | ET   </a>
<br>
<a href="https://economictimes.indiatimes.com/marketstats/companyid-0,duration-U,filtertype-latest,marketcap-All,pageno-1,pid-26,sortby-meetingDateStr,sortorder-asc,year-0.cms"> Upcoming Board Meeting  </a>
<br>
<a href="https://economictimes.indiatimes.com/marketstats/compareprice-DAY_7,exchange-50,marketcap-largecap%252Cmidcap,pageno-1,pid-12,sortby-periodicpercentchange,sortorder-desc.cms"> Price Shocker | MoneyControl  </a>
<br>
<a href="https://economictimes.indiatimes.com/markets/stocks/stock-screener/FII_BUYING"> FII Buying | MoneyControl  </a>
<hr>


<h2> Weekly Reading  </h2>
<a href="https://vedabase.io/en/library/mbk/1/"> Mahabharat Vedabase </a>
<br>
<a href="https://officechai.com/category/startups/"> Office Chai  </a>
<br>
<a href="https://dopolitics.in/category/opinion/social/"> Do Politics | Social </a>
<hr>


<h2> Personal Management </h2>
<a href="https://docs.google.com/spreadsheets/d/16HhBSriyuwjMjU-mrYuiwrIUxoxJujg2XeVwGLPAYXs/edit#gid=1227499812"> My Excel Tracker  </a>
<hr>

</body>
</html>

